.content {
  padding: 0 56rpx;
  padding-top: calc(195rpx + 30rpx);
  .content_1 {
    font-size: 52rpx;
    font-family: PingFang SC;
    font-weight: 800;
    color: #000000;
    line-height: 1;
    margin-bottom: 53rpx;
  }
  .content_2 {
    height: 123rpx;
    border-bottom: 1rpx solid #f5f5f6;
    display: flex;
    align-items: center;
  }
  .content_3 {
    height: 154rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content_3_1 {
      font-size: 26rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color: #ff644d;
      line-height: 1;
    }
    .content_3_2 {
      font-size: 26rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color: #000000;
      line-height: 1;
    }
  }
  .content_4 {
    width: 610rpx;
    height: 100rpx;
    background: #ff644d;
    border-radius: 50rpx;
    line-height: 100rpx;
    text-align: center;
    font-size: 30rpx;
    font-family: PingFang SC;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 40rpx;
  }
  .content_5 {
    width: 610rpx;
    height: 100rpx;
    background: #ffffff;
    border: 1rpx solid #d1d1d1;
    border-radius: 50rpx;
    text-align: center;
    line-height: 100rpx;
    font-size: 30rpx;
    font-family: PingFang SC;
    font-weight: 500;
    color: #3d3d3d;
  }
}
.bottom {
  position: absolute;
  bottom: 80rpx;
  width: 100%;
  display: flex;
  justify-content: center;
  .bottom_1 {
    font-size: 24rpx;
    font-family: PingFang SC;
    font-weight: 400;
    color: #8e8e8e;
    line-height: 1;
  }
  .bottom_2 {
    font-size: 24rpx;
    font-family: PingFang SC;
    font-weight: 400;
    color: #ff644d;
    line-height: 1;
  }
}
