.content {
  background: #f2f2f2;
  padding-top: calc(195rpx + 16rpx);
  padding-bottom: 185rpx;
  min-height: 100vh;
  box-sizing: border-box;
  .content_1 {
    display: flex;
    justify-content: space-between;
    padding: 0 26rpx;
    background: #fff;
    padding-bottom: 40rpx;
    .content_1_1 {
      display: flex;
      // align-items: center;
      padding-top: 38rpx;
      .content_1_1_1 {
        width: 78rpx;
        height: 78rpx;
        border-radius: 15rpx;
        margin-right: 28rpx;
      }
      .content_1_1_2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .content_1_1_2_1 {
          font-size: 28rpx;
          font-family: PingFang SC;
          font-weight: bold;
          color: #1a1a1a;
          line-height: 1;
          width: 290rpx;
          margin-bottom: 25rpx;
        }
        .content_1_1_2_2 {
          display: flex;
          .content_1_1_2_2_1 {
            height: 32rpx;
            background: #f2f2f2;
            border-radius: 5rpx;
            line-height: 32rpx;
            padding: 0 13rpx;
            font-size: 20rpx;
            font-family: PingFang SC;
            font-weight: 400;
            color: #727270;
          }
        }
      }
    }
    .content_1_2 {
      font-size: 24rpx;
      font-family: PingFang SC;
      font-weight: 400;
      color: #969696;
      line-height: 1;
      padding-top: 42rpx;
    }
  }
  .content_2 {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding-bottom: 29rpx;
    margin-bottom: 14rpx;
    .content_2_1 {
      flex: 1;
      text-align: center;
      .content_2_1_1 {
        font-size: 28rpx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #1a1a1a;
        line-height: 1;
      }
      .content_2_1_2 {
        font-size: 20rpx;
        font-family: PingFang SC;
        font-weight: 400;
        color: #727270;
        margin-top: 26rpx;
        line-height: 1;
      }
      .content_2_1_3 {
        font-size: 28rpx;
        font-family: PingFang SC;
        font-weight: bold;
        color: #ff3f22;
        line-height: 1;
      }
    }
  }
  .content_3 {
    background: #fff;
    padding: 0 24rpx;
    padding-bottom: 38rpx;
    .content_3_1 {
      height: 83rpx;
      display: flex;
      align-items: center;
      margin-bottom: 37rpx;
      .content_3_1_1 {
        width: 5rpx;
        height: 33rpx;
        background: #ff644d;
        border-radius: 3rpx;
        margin-right: 13rpx;
      }
      .content_3_1_2 {
        font-size: 28rpx;
        font-family: PingFang SC;
        font-weight: bold;
        color: #1a1a1a;
        line-height: 1;
        margin-right: 18rpx;
      }
      .content_3_1_3 {
        font-size: 24rpx;
        font-family: PingFang SC;
        font-weight: bold;
        color: #8b8b8b;
        line-height: 1;
      }
    }
    .content_3_2 {
      margin: 0 auto;
      padding-bottom: 30rpx;
      margin-bottom: 30rpx;
      width: 700rpx;
      text-align: center;
    }
    .content_3_3 {
      // margin-bottom: 30rpx;
      .content_3_3_1 {
        display: flex;
        margin-bottom: 30rpx;
        .content_3_3_1_1 {
          width: 30rpx;
          height: 30rpx;
          background: #ff644d;
          border-radius: 50%;
          line-height: 30rpx;
          text-align: center;
          font-size: 24rpx;
          font-family: PingFang SC;
          font-weight: 500;
          color: #ffffff;
          margin-right: 8rpx;
          margin-top: 5rpx;
        }
        .content_3_3_1_2 {
          width: 670rpx;
          font-size: 34rpx;
          font-family: PingFang SC;
          font-weight: 500;
          color: #1a1a1a;
          line-height: 41rpx;
          word-break: break-all;
        }
      }
      .content_3_3_2 {
        justify-content: space-between;
        display: flex;
        .content_3_3_2_1 {
          width: 348rpx;
          margin-bottom: 30rpx;
        }
        .content_3_3_2_2 {
          text-align: center;
          line-height: 748rpx;
          width: 348rpx;
          text-align: center;
          font-size: 30rpx;
          background: #000;
          color: #fff;
        }
      }
    }
  }
  .content_4 {
    padding: 0 18rpx;
    background: #fff;
    padding-bottom: 67rpx;
    .content_4_1 {
      display: flex;
      align-items: center;
      height: 95rpx;
      .content_4_1_1 {
        width: 5rpx;
        height: 33rpx;
        background: #ff644d;
        border-radius: 3rpx;
        margin-right: 13rpx;
      }
      .content_4_1_2 {
        font-size: 28rpx;
        font-family: PingFang SC;
        font-weight: bold;
        color: #1a1a1a;
      }
    }
    .content_4_2 {
      display: block;
      margin: 0 auto;
      margin-top: 19rpx;
      width: 439rpx;
      height: 391rpx;
    }
    .content_4_3 {
      text-align: center;
      font-size: 24rpx;
      font-family: PingFang SC;
      font-weight: bold;
      color: #ff644d;
      line-height: 1;
      margin-bottom: 59rpx;
    }
    .content_4_4 {
      font-size: 22rpx;
      font-family: PingFang SC;
      font-weight: 400;
      color: #a0a0a0;
      line-height: 41rpx;
    }
  }
}
.btn {
  width: 750rpx;
  height: 136rpx;
  background: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .btn_1 {
    width: 700rpx;
    height: 80rpx;
    background: #ff644d;
    border-radius: 40rpx;
    text-align: center;
    line-height: 80rpx;
    font-size: 26rpx;
    font-family: PingFang SC;
    font-weight: 500;
    color: #ffffff;
  }
}
.showVideo {
  margin: auto;
}
.image_1_1 {
  margin: auto;
}
