.content {
  padding-top: 195rpx;
  .content_1 {
    background: #f6f6f6;
    height: 8rpx;
  }
  .content_2 {
    padding: 0 35rpx;
    .content_2_1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 98rpx;
      border-bottom: 1rpx solid #ededed;
      .content_2_1_1 {
        font-size: 26rpx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #000000;
        line-height: 1;
      }
      .content_2_1_2 {
        width: 70rpx;
        height: 70rpx;
        background: #666666;
        border-radius: 50%;
      }
    }
    .content_2_2 {
      .content_2_2_1 {
        font-size: 26rpx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #000000;
        line-height: 1;
        margin-bottom: 20rpx;
        margin-top: 36rpx;
      }
      .content_2_2_2 {
        width: 300rpx;
        height: 300rpx;
        background: #f6f6f6;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .content_3 {
    margin: 0 auto;
    margin-top: 124rpx;
    text-align: center;
    line-height: 80rpx;
    width: 680rpx;
    height: 80rpx;
    background: #ff644d;
    border-radius: 40rpx;
    font-size: 34rpx;
    font-family: PingFang SC;
    font-weight: 500;
    color: #ffffff;
  }
}
