.content {
	padding-top: calc(195rpx + 8rpx);
	.form {
		padding: 0 35rpx;
	}
	.input-wrap {
		height: 98rpx;
		border-bottom: 1rpx solid #EDEDED;
		display: flex;
		align-items: center;
		font-size: 26rpx;
		.label {
			width: 130rpx;
		}
	}
	.btn {
		line-height: 80rpx;
		text-align: center;
		font-size: 30rpx;
		font-family: PingFang SC;
		font-weight: 500;
		color: #ffffff;
		height: 80rpx;
		background: #FF644D;
		border-radius: 40rpx;
		margin-top: 80rpx;
	}
}
.bg {
	height: 8rpx;
	background-color: #f2f2f2;
}
